body{
	background-color: #29345A;
	color: #ffffff;
}



#container{
	width: 600px;
	height: 462px;
	
	margin: auto;
	margin-top: 100px;
}

#login-senha{
	
	width: 500px;
	margin: auto;
}



hr{
	margin-bottom: 30px;
	font-size: 5px;
	color: #ffffff;
}




input{
    border: none; /* remove a borda */
    outline: none; /* remove o contorno quando focado */
    background: none; /* remove o fundo */
    padding: 5px;
    padding-left: 10px;
}




::placeholder{
	color: #ffffff;
	font-style: italic;
}



#div-checkbox{
	float: left;
	padding-left: 10px;
	padding-right: 10px;

}



input[type="checkbox"]{
	transform: scale(1.5);
}


h4{
	padding: 2px;
}



#botao-login{
		margin: auto;
		width: 200px;
}




input[type="submit"]{
	border: 1px solid #fff;
	font-size: 18px;
	color: #fff;
	border-radius: 10px;
	padding: 7px;
	padding-left: 50px;
	padding-right: 50px;
	font-weight: bold;
	cursor: pointer;
}

